@font-face 
{
    font-family: "Raleway";
    src: url("../P2_V3/raleway/Raleway-Regular.ttf");
    src:url("../P2_V3/raleway/Raleway-Bold.ttf") format("ttf"),
        url("../P2_V3/raleway/Raleway-Light.ttf") format("ttf"),
        url("../P2_V3/raleway/Raleway-Black.ttf") format("ttf"),
        url("../P2_V3/raleway/Raleway-Medium.ttf") format("ttf");
    font-style: normal;
}

/*header mise en page*/
body
{
    margin:0;
}
#bloc_page
{
    margin: auto;
    padding-top:30px   
}
header
{
    display: flex;
    padding-top:40px;
    margin-left: 20px;
}

.navigation
{
    display: flex;
    padding-left: 380px;
}
header p a
{
    display: flex;
    margin-left: 25px;
    color:#0065FC;
    text-decoration: none;
    font-weight: bold;
}

.nav_top ul
{
    font-family:"Raleway";
    display: flex;
    list-style-type: none;
    
}

.nav_top a
{
    margin-left: 25px;
    text-decoration: none;
    color:black;        
}

.nav_top a:hover
{
    color: #0065fc;
    border-top: #0065FC solid 2px ;
}

header 
{
    font-family:"Raleway";
}

header h4
{
    font-weight: normal;
}

#search
{
    display: flex;
    margin-left: 20px;
    padding-top: 3px;
}

#map
{ 
    background-color: #f0f0f0;
    height:40px;
    width: 40px;
    border: #f0f0f0 solid ;
    border-radius: 8px 0px 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulaire
{
    border: #f0f0f0 solid 1px;
    height:46px;
    width: 160px;
    margin-left: 0%;
    margin-right: 0px;
}

.rechercher
{
    color:white;
    background-color: #0065FC;
    height: 45px;
    width: 100px;
    font-family: "Raleway";    
    border-radius: 0px 10px 10px 0px;    
    display: flex;
    justify-content: center;
    align-items: center;   
}

#rechercher
{
    background-color: #0065FC;
    border: #0065FC solid 1px;
    border-radius: 0px 8px 8px 0px;;
}


/*FILTRES*/

.filtres
{
    display:flex ;
    padding-top: 20px;
    margin-left: 20px;
    font-family: "Raleway";
    justify-content: baseline;
    align-items: center;   
}

.filtres a 
{
    text-decoration: none;
    color: black;
}

.filtres a :hover
{   
    background-color:#deebff;
    
}
.filtres i
{
    background-color: #deebff;
    height: 35px;
    width: 35px;
    color: #0065FC;
    font-size: 0.8em;
    border-radius: 50px;
    margin-left:0;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.les-filtres
{
    display: flex;
    border: #f0f0f0 solid 1px;
    border-radius: 50px;
    margin-right: 20px;
    margin-left: 20px;
    padding-right:15px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info
{
    background-color: blanc;
    height: 20px;
    width: 20px;
    color: #0065FC;
    font-size: 0.7em;
    border: #f0f0f0 solid 1px;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.disponibilites
{   display: flex;
    font-family: "Raleway";
    font-size: 0.8em;   
    align-items: baseline;
}

/*SECTION HEBERGEMENT + PHOTOS*/
section
{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}
.article
{
    background-color: #f0f0f0;
    border-radius: 20px;
    width: 70%;
    font-family: "Raleway";   
}
.article h3
{
    padding-left: 20px;
    padding-top:10px
}

#les-hebergements
{
    list-style-type: none;
    display: flex;
    justify-content: space-around; 
}

#les-hebergements>li
{
    background-color: white;
    border-radius: 10%;
    height: 180px;
    width: 220px;
    box-shadow: 1px 1px 6px silver;
}
#les-hebergements a
{
    color: black;
    text-decoration: none;
}
#les-hebergements h4,#les-hebergements p
{
   margin-bottom: 2%;
   margin-top:2%;
   padding-top: 0;
}
.les-hebergements h3 a
{ 
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.star
{
    color: #f0f0f0;
}
.stars
{
    color: #0065FC;
}
.img
{
    height: 55%;
    width: 97%;    
    padding: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px; 
}

.descriptions
{
    padding-left: 6px;
}
/*PHOTO 1----------------------------------------------------*/

.auberge-img
{   
    background-image: url("images/marcus-loke-WQJvWU_HZFo-unsplash.jpg");   
}

/*PHOTO2-----------------------------------------------------------*/

.hotel-port-img
{   
    background-image: url('images/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
}

/*PHOTO 3------------------------------------*/

.hotel-mouettes-img
{
    background-image: url("images/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

/*PHOTO 4-------------------------------------------------*/

.hotel-mer-img
{
    background: url("images/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

/*PHOTO 5------------------------------*/
.auberge-panier-img
{
    background-image: url("images/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

/*PHOTO 6 -----------------------------------------*/
.hotel-amina-img
{
    background-image: url("images/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}


/*MISE EN PAGE BLOC DE DROITE*/
aside h3
{
    padding-left: 30px;    
}

.line
{
    margin-left:130px;
}
aside
{
    
    background-color: #f0f0f0;
    border:#f0f0f0 solid;
    border-radius: 20px;
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Raleway";
}

#populaire a
{
    text-decoration: none;
    color: black;
}

.les-populaires
{
    display:flex;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 6px silver;
    width:320px;
    height: 130px;
    margin: 20px;
    padding:5px;
}

.les-populaires ul 
{
    list-style-type: none;
    display: flex;
    padding-left:0;
}

.les-populaires h4, .les-populaires p 
{
    padding-left:0;  
    margin-top:1%;
    margin-bottom: 2%;
    padding-top: 1%;
}



.description
{
    margin-left:20px;
}

.description li
{
    padding-left:0;
    margin-top: 30px;
}
/*PHOTO 1--------------------------------*/

.hotel-soleil
{
    background-image:url("images/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");

}

.chambre-hotes
{
    background-image: url("images/aw-creative-VGs8z60yT2c-unsplash.jpg");
}
.hotel-bleu-blanc
{
    background-image: url("images/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}
.populaires-img
{
    height: 100%;
    width: 120px;
    border-radius: 15px 0px 0px 15px;   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
}



/*MISE EN PAGE ACTIVITES A MARSEILLE*/
.activités-marseille h3
{
    font-family: "Raleway";
    margin-left:20px;
    margin-top: 30px;
}

.image1
{
    height: 95%;
    width: 100%;
    display:flex ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px; 
}

.image2
{
    height: 80%;
    width: 100%; 
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px; 
}

#activités
{
    margin-top: 40px;
    display: flex;  
}

#activités h5
{
    margin-left: 15px;
    margin-top: 5%;
}
#activités a 
{
    text-decoration: none;
    font-family: "Raleway";
    color: black;
}

.activites1
{
    display: flex;
    margin: 30px;
    justify-content: first baseline;
    align-items:stretch;
    
}
.activites2
{
    display: flex;
    margin:30px;
    flex-direction: column;
    justify-content: space-between;    
  
}

#vieux-port,#parc-national
{
    background-color:white;   
    border-radius: 15px;
    box-shadow: 1px 1px 6px silver;
    width: 250px;
    height: 400px;
    padding-bottom: 30px;
}

#le-fort,#frioul,#notre-dame,#parc-longchamp
{
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 6px silver;
    width: 300px;
    height: 200px;
}

.vieux-port-img
{
    background-image:url("images/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}

.le-fort-img
{
    background-image: url("images/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}

.ile-frioul-img
{
    background-image:url("images/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg") ;
}

.parc-national-img
{
    background-image: url("images/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

.notre-dame-img
{
    background-image:url("images/florian-wehde-xW9e8gdotxI-unsplash.jpg") ;
}

.parc-longchamp-img
{
    background-image: url("images/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}


/*FOOTER*/
.nav-bottom
{
    margin-right: 100px;
}
.nav-bottom ul
{
    font-family:"Raleway";
    list-style-type: none;
}

.nav-bottom a
{
    text-decoration: none;
    color: black;
}

.nav-bottom li
{
    padding-top: 10px;  
}
.nav-bottom h4
{
    font-family:"Raleway";
    margin-left: 40px;
    margin-right: 50px;
}

footer
{
    background-color: #f0f0f0;
    display: flex;
    margin-top:30px;
}



