@font-face 
{
    font-family: "Raleway";
    src: url("../P2_V3/raleway/Raleway-Regular.ttf");
    src:url("../P2_V3/raleway/Raleway-Bold.ttf") format("ttf");
    font-style: normal;
}

/*header mise en page*/
#bloc-page
{
    justify-content: center;
    align-items: center;
}
.reservia
{
    padding-top:20px;
}
.nav-top 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-top p
{
    text-decoration: none;
    color:#0065FC;  
    font-weight: bold;
}
.nav-top a
{
    color: black;
    text-decoration: none;
}
.nav
{
    padding:40px 40px 0 40px;
    border-top:3px solid transparent;
    margin-top:-20px;
}
.nav-top .nav:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}
.inscription
{
    padding:25px 30px 0 30px;
}
.header
{
    display: flex;
    justify-content: space-between;
    font-family:"Raleway";
    padding-top: 20px;
    margin-left: 20px;
  
}
.titres
{
    font-family: "Raleway";
    margin-left: 20px;
    margin-top:40px;
}
.titres h4
{
    font-weight: normal;
    margin-bottom:1%;
}
.search
{
    display: flex;
    margin-left: 20px;
    padding-top: 3px;
}
#map
{ 
    background-color: #f0f0f0;
    height:44px;
    width: 45px;
    border: #f0f0f0 solid ;
    border-radius: 18px 0px 0px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulaire
{
    border: #f0f0f0 solid 1px;
    height:50px;
    width: 180px;
    margin-left: 0%;
    margin-right: 0px;
}
.rechercher
{
    color:white;
    background-color: #0065FC;
    border:none;
    height: 50px;
    width: 130px;
    font-family: "Raleway"; 
    font-weight: bold; 
    font-size: 1em;  
    border-radius: 0px 18px 18px 0px;    
    display: flex;
    justify-content: center;
    align-items: center;   
}
.loupe
{
    display:none;
}
/*FILTRES*/

.filtres
{
    display:flex ;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-left: 20px;
    font-family: "Raleway";
    justify-content: baseline;
    align-items: center;   
}

.filtres a 
{
    text-decoration: none;
    color: black;
}

.filtres a :hover
{   
    background-color:#deebff;
    
}
.filtres i
{
    background-color: #deebff;
    height: 55px;
    width: 55px;
    color: #0065FC;
    font-size: 1em;
    border-radius: 50px;
    margin-left:-4px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.les-filtres
{
    display: flex;
    border: #e6e6e6 solid 2.5px;
    border-radius: 50px;
    margin-right: 20px;
    margin-left: 20px;
    padding-right:15px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info
{
    background-color: blanc;
    height: 20px;
    width: 20px;
    color: #0065FC;
    font-size: 0.8em;
    border: #f0f0f0 solid 1px;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.disponibilites
{   display: flex;
    font-family: "Raleway";
    align-items: baseline;
}

.disponibilites h4
{
    font-weight: normal;
}
/*SECTION HEBERGEMENT + PHOTOS*/
section
{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}
.article
{   
    background-color: #f0f0f0;
    border-radius: 20px;   
    font-family: "Raleway";   
}
.hebergements
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
}
.les-hebergements
{    
    background-color: white;
    list-style-type: none;
    border-radius: 20px;
    height: 180px;
    width: 220px;
    box-shadow: 8px 8px 8px silver;
    padding:5px;
    margin:20px;
}
.hebergements-img
{
    height: 60%;
    width: 99%;    
    border-radius: 20px 20px 0px 0px;   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  border-radius: 20px 20px 0px 0px;       
    justify-content: center;
}
.hebergements a
{
    color: black;
    text-decoration: none;
}
.descriptions h4,.descriptions p
{
   margin-bottom: 2%;
   margin-top:2%;
   padding-top: 0;
}
.descriptions
{
    padding-left: 8px;
}
.les-hebergements ul
{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;    
}
.titres-h3 
{
    color: black;
    text-decoration: none;
}
.titres-h3 h3
{
    padding-left: 25px;
    padding-top:15px;
}
.star
{
    color:#f0f0f0
}
.stars
{
    color: #0065FC;
}


/*PHOTO 1----------------------------------------------------*/

.auberge
{   
    background-image: url("images/marcus-loke-WQJvWU_HZFo-unsplash.jpg");   
}

/*PHOTO2-----------------------------------------------------------*/

.hotel-port
{   
    background-image: url('images/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
}

/*PHOTO 3------------------------------------*/

.hotel-mouettes
{
    background-image: url("images/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

/*PHOTO 4-------------------------------------------------*/

.hotel-mer
{
    background: url("images/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    height: 60%;
    width: 99%;    
    border-radius: 20px 20px 0px 0px;   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  border-radius: 20px 20px 0px 0px;       
    justify-content: center;
}

/*PHOTO 5------------------------------*/
.auberge-panier
{
    background-image: url("images/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

/*PHOTO 6 -----------------------------------------*/
.hotel-amina
{
    background-image: url("images/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}


/*MISE EN PAGE BLOC DE DROITE*/
.h3-populaires
{   color: black;
    text-decoration: none;
}
.h3-populaires h3
{
    margin-left: 30px;
    padding-top: 20px;
}
aside
{
    background-color: #f0f0f0;
    border-radius: 20px;
    margin-left: 30px;
    font-family: "Raleway";
}
.line
{
    position: absolute;
    right: 4%;
}
.populaire a
{
    text-decoration: none;
    color: black;
}

.les-populaires
{
    display:flex;
    background-color: white;
    border-radius: 15px;
    box-shadow: 8px 8px 8px silver;
    align-items: center;    
    width: 320px;
    height: 130px;
    margin: 20px;
    padding:5px;
}

.les-populaires ul 
{
    list-style-type: none;
    display: flex;
    padding-left:0;
}

.les-populaires h4, .les-populaires p 
{
    padding-left:0;  
    margin-top:1%;
    margin-bottom: 2%;
    padding-top: 1%;
}

.description
{
    margin-left:20px;
}

.description li
{
    padding-left:0;
    margin-top: 20px;
}
/*PHOTO 1--------------------------------*/

.hotel-soleil
{
    background-image:url("images/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");

}

.chambre-hotes
{
    background-image: url("images/aw-creative-VGs8z60yT2c-unsplash.jpg");
}
.hotel-bleu-blanc
{
    background-image: url("images/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}
.populaires-img
{
    height: 100%;
    width: 40%;
    border-radius: 15px 0px 0px 15px;   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
}

/*MISE EN PAGE ACTIVITES A MARSEILLE*/

.activites
{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}
.activites-marseille h3
{
    font-family: "Raleway";
    margin-top: 30px;
    margin-left: 25px;
}
.activites1-img
{
    height: 95%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px; 
}
.activites2-img
{
    height: 80%;
    width: 100%;    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px; 
}
.bloc-activites
{
    flex-direction: column;
    justify-content: space-between;
    margin:20px;
}
.bis
{
    margin-top: 35px;
}
.les-activites1 h5,.les-activites2 h5
{
    margin-left: 15px;
    margin-top: 5%;
}
.activites a
{
    text-decoration: none;
    font-family: "Raleway";
    color: black;
}
.les-activites1
{
    background-color:white;   
    border-radius: 15px;
    box-shadow: 8px 8px 8px silver;
    width: 260px;
    height: 410px;
    padding-bottom: 30px;
}
.les-activites2
{
    background-color: white;
    border-radius: 15px;
    box-shadow: 8px 8px 8px silver;
    width: 300px;
    height: 200px;
}
.vieux-port
{
    background-image:url("images/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}

.le-fort
{
    background-image: url("images/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}

.le-frioul
{
    background-image:url("images/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg") ;
}

.parc-national
{
    background-image: url("images/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

.notre-dame
{
    background-image:url("images/florian-wehde-xW9e8gdotxI-unsplash.jpg") ;
}

.parc-longchamp
{
    background-image: url("images/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

/*FOOTER*/
.nav-bottom
{
    margin-right: 100px;
}
.nav-bottom ul
{
    font-family:"Raleway";
    list-style-type: none;
}

.nav-bottom a
{
    text-decoration: none;
    color: black;
}

.nav-bottom li
{
    padding-top: 10px;  
}
.nav-bottom h4
{
    font-family:"Raleway";
    margin-left: 40px;
    margin-right: 50px;
}

footer
{
    background-color: #f0f0f0;
    display: flex;
    flex-wrap:wrap;
    margin-top:30px;
    width: 100%;
}

/* --------------------------------------RESPONSIVE----BREAKPOINT-1--------------------------------------*/

@media all  and (min-width:320px) and (max-width:575.98px)
{   
    section
    {
        margin: 0;
    }
    .header
    {
        margin:0;
        width:100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .titres,.search,.filtres,.info
    {
        margin:0;
    }
    .reservia
    {
        padding-top: 3px;
        padding-left: 10px;
    }
    .inscription
    {
       position: absolute;    
       padding:0; 
       margin: 0;
       top: 5%;
       right: 10px;
    }
   .nav-top .nav
   {
       padding: 20px 15px 20px 15px;
       border-bottom: 3px solid rgb(240, 238, 238);
   }  
   .nav-top .nav:hover
   {
       border-top:none;
       border-bottom: 3px solid #0065FC;
       width: 50%;
   }
   .nav-top 
    {
        width:100%;
        display: flex;
    }
    .nav-top>a
    {
        width: 50%;
        display:block;
        margin:0;
        text-align:center;
    }  
    .rechercher
    {
        display: none;
    }
    #map
    {
        width: 55px;
    }
    .formulaire
    {
        width: 70%;
    }
    .loupe
    {
        color:white;
        border:none;
        margin-left: -20px;
        background-color: #0065FC;
        height: 50px;
        width: 55px;;
        font-size: 1em;  
        border-radius:15px;    
        display: flex;
        justify-content: center;
        align-items: center;   
    }   
    .filtres
    {
        flex-wrap: wrap;
    }
    section
    {
        flex-direction:column-reverse;
    }
    aside
    {
        width:100%;
        margin: 0;
    }
    .line
    {
        position: absolute;
        right: 8%;
    }
    #populaire
    {
        flex-direction: column;
        padding:10px;
    }
    .les-populaires
    {
        width:85%;
    }
    .populaires-img
    {
        width:30%;
    }
    .article
    {
        background-color:white;    
    }
    .hebergements a 
    {
        display: block;
        width: 100%;
    }
    .les-hebergements
    {
        margin-left: 0;
        margin-top:0;
        width:95%;
        height: 200px;
    } 
    .descriptions h4,.descriptions p
    {
        margin-bottom: 0;
        margin-top:1%;
        padding-top: 0;
    }
    .les-hebergements ul
    {
          margin-top: 4px;    
    }
    .titres-h3 h3
    {
        padding-left: 10px;
        margin-top: 0;
    }
    .activites,.hebergements
    {
        flex-direction: column;
        width: 100%;
    }
    .activites-marseille h3
    {
        margin-top: 10px;
        margin-left: 9px;
    }
    .activites a
    {
        display: block;   
        margin-left:0;
        width: 95%;
    }
    .les-activites1,.les-activites2
    {
        width: 100%;
        height: 180px;
    }
    .les-activites1 h5,.les-activites2 h5
    {   
        margin-left: 15px;
        margin-top:6px;
    }
    .bis,.les-activites2
    {
        margin-top: 15px;
    }
    .bis
    {
        margin-bottom: 15px;
    }
    .bloc-activites a 
    {
        margin-left: 0;
        padding-left: 5px;
    }
    .bloc-activites
    {
        width: 100%;
        margin: 0;
    }
    footer
    {
        flex-direction: column;  
    }
}
/* --------------------------------------RESPONSIVE----BREAKPOINT-1-bis--------------------------------------*/
@media all and (min-width:575px) and (max-width:595.98)
{
    .inscription
    {
       position: absolute;    
       padding:0; 
       margin: 0;
       top: 5%;
       right: 10px;
    }
   .nav-top .nav
   {
       padding: 20px 15px 20px 15px;
       border-bottom: 3px solid rgb(240, 238, 238);
   }  
   .nav-top .nav:hover
   {
       border-top:none;
       border-bottom: 3px solid #0065FC;
       width: 50%;
   }
   .nav-top 
    {
        width:100%;
        display: flex;
    }
    .nav-top>a
    {
        width: 50%;
        display:block;
        margin:0;
        text-align:center;
    }  
    .article
    {
        background-color:#f0f0f0;    
    }
}
/*-------------------------------------------------BREAKPOINT-2----------------------------------------------*/
@media all and (min-width:576px) and (max-width: 875.98px)
{
    section
    {
        flex-direction:column-reverse;
        margin:0;
    }
    .titres,.search,.filtres,.info
    {
        margin:0;
    }  
    .formulaire
    {
        width: 50%;
    }
    .loupe
    {
        display: none;
    } 
    aside
    {
        width:100%;
        margin: 0;
    }
    .line
    {
        position: absolute;
        right: 8%;
    }
    #populaire
    {
        flex-direction: column;
        padding:10px;
    }
    .les-populaires
    {
        width:90%;
    }
    .populaires-img
    {
        width:30%;
    }
 
    .les-hebergements
    {
        margin-left: 10px;
        margin-top:0;
        width:220px;
        height: 170px;
    } 
    .descriptions h4,.descriptions p
    {
        margin-bottom: 0;
        margin-top:1%;
        padding-top: 0;
    }
    .les-hebergements ul
    {
          margin-top: 4px;    
    }
    .titres-h3 h3
    {
        padding-left: 10px;
        margin-top: 0;
    }
    .article
    {
        margin-top:10px;
    }
    .hebergements
    {
        width: 100%;
    }
    .activites-marseille h3
    {
        margin-top: 10px;
        margin-left: 9px;
    }
    .activites a
    {
        display: block;   
        margin-left:0;
        width: 95%;
    }
    .les-activites1,.les-activites2
    {
        width: 100%;
        height: 180px;
    }
    .les-activites1 h5,.les-activites2 h5
    {   
        margin-left: 15px;
        margin-top:6px;
    }
    .bis,.les-activites2
    {
        margin-top: 15px;
    }
    .bis
    {
        margin-bottom: 15px;
    }
    .bloc-activites a 
    {
        margin-left: 0;
        padding-left: 12px;
    }
    .bloc-activites
    {
        width: 100%;
        margin: 0;
    }
}
/*---------------------------------------BREAKPOINT-2-BIS------------------------------------*/
@media all and (min-width: 796px) and (max-width:875.98px)
{
    .activites a
    {
        display: block;   
        margin-left:0;
        width: 50%;
    }
    .bloc-activites
    {
        width: 40%;       
    }
    .bloc-activites a 
    {
        margin-left: 0;
        padding-left: 0;
    }
    .les-activites1
    {
        height: 400px;
        width:350px;
    }    
    .les-activites2
    {
        height: 200px;
        width:320px;
    }
    .bis,.les-activites2
    {
        margin-top: 20px;
    }
}
/*-----------------------------BREAKPOINT-3---------------------------------------------------*/
@media all and (min-width:876px) and (max-width: 1135.98px)
{   
    section
    {
        flex-direction:column-reverse;
    }
    aside
    {
        width:100%;
        margin:0;
    }
    .les-populaires
    {
        width: 90%;
        height:130px ;
    }
    .populaires-img
    {
        width:30%;
    }
    .article
    {
        margin-top: 40px;
        width: 100%;
    }
    .les-activites1
    {
        width:370px;
    }    
    .les-activites2
    {
        width:370px;
    }

}
@media all and (min-width:1136px) and (max-width: 1265.98px)
{
    aside
    {
        width: 50%;
    }
    .article
    {
        width: 60%;
    }
    .les-populaires
    {
        width: 90%;
        height: 200px;
    }
    .populaires-img
    {
        width:40%;
    }
    .les-activites1
    {
        width:270px;
    }    
    .les-activites2
    {
        width:250px;
    }
}